
# Public url after
NEXT_PUBLIC_BASE_URL=https://hasanfitnes.com

# SSL comarts
SSLCOMMERZ_STORE_ID=gymsh6923fbbb9fe6f
SSLCOMMERZ_STORE_PASSWORD=gymsh6923fbbb9fe6f

# Mongodb
MONGODB_URI=mongodb+srv://hasan:hasan@cluster0.ohn8n1l.mongodb.net

# Smtp
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_EMAIL=nnsnajmussakib@gmail.com
SMTP_PASS=wgle inkd sbpo bofh

# Company Name
COMPANY_NAME=Hasan Fitnes

# Admin Details
ADMIN_EMAIL=hasansaudsaud207135@gmail.com
ADMIN_PASSWORD=Ha1&*gjjhasanboss190

# Jwt
JWT_EXPIRY=20d
JWT_SECRET=404E635266556A586E3272357538782F413F4428472B4B6250645367566B5970

# Cloudinary
CLOUDINARY_API_SECRE=kj84ODwnr9tauJZ5YyqVf4clW5I
CLOUDINARY_API_KEY=912393413741986
CLOUDINARY_CLOUD_NAME=dylaogpzu
