
# Public url after
NEXT_PUBLIC_BASE_URL=https://hasanfitnes.com

# SSL comarts
SSLCOMMERZ_STORE_ID=
SSLCOMMERZ_STORE_PASSWORD=

# Mongodb
MONGODB_URI=

# Smtp
SMTP_HOST=
SMTP_PORT=
SMTP_EMAIL=
SMTP_PASS=

# Company Name
COMPANY_NAME=Hasan Fitnes

# Admin Details
ADMIN_EMAIL=
ADMIN_PASSWORD=

# Jwt
JWT_EXPIRY=
JWT_SECRET=

# Cloudinary
CLOUDINARY_API_SECRE=
CLOUDINARY_API_KEY=
CLOUDINARY_CLOUD_NAME=